* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

.contenedor {
  padding: 0px;
  margin: auto;
  width: 700px;
  height: 700px;
  background-color: #ffb;
  border: 8px dashed #993;
  text-align: center;
}

.player {
  background-color: #900;
  border: 4px dashed #b22;
  width: 50px;
  height: 50px;
  border-radius: 29px;
  position: absolute;
  transition: all 0.3s;
}

.enemy {
  background-color: #000;
  border: 4px dashed #b22;
  width: 50px;
  height: 50px;
  border-radius: 29px;
  position: absolute;
  transition: all 0.3s;
}

.pointer {
  background-color: #444;
  height: 30px;
  margin-top: 30px;
  border-bottom: 0px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}

.nivel-up {
  margin: 15rem auto;
  border: 5px solid black;
  height: 10rem;
  align-items: center;
  text-align: center;
  background-color: aqua;
  position: relative;
}

.nivel__up {
  position: absolute;
  color: black;
  border: 1px solid red;
  margin-top: 20px;
  font-size: 6rem;
  left: 20px;
}